<html>

<head>
  <link rel="stylesheet" href="static/css/index.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Extra Credit - Finish</title>
</head>

<body>
  <p class="title">Extra Credit</p>
  <div class="main" style="height: fit-content; text-align: center;">
    <p>Thank you for completing the survey!</p>
    <!-- <p>Please save the code below for extra credit.</p> -->
    <!-- <p id="randomStr" class="main1"></p> -->
  </div>

</body>
<!-- <script src="../static/js/constants.js"></script> -->
<script src="/static/lib/jquery/jquery.min.js"></script>
<script src="/static/lib/popper/popper.min.js"></script>
<script src="/static/lib/bootstrap/bootstrap.min.js"></script>
<script src="../static/js/finisher.js"></script>
<script>
  $(function () {
    const finisher = new Finisher();
  });

</script>

</html>